h1{
    
text-align: center;
background-color: grey;
padding:35PX;
margin:auto; 
font-family: italic;
  
}

h2,p.text{
    text-align: center;
}
div.carding{
float: right;

}
a{
    color: white;
}
div.profile{
    width: 400px;
    margin-left: 35%;
}
a.btn{
   margin-left: 90px;
}
p.card-text{
    margin-left: 6px;
    text-align: justify;
    margin-right: 6px;
}
h4{
    margin-left: 4px;
}

   